Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [5]:
items = [4,8,15,16,23,42]
s = pd.Series(items)

In [6]:
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [7]:
l = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(l)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [8]:
lst = [['Alice',25,'Female'],['Bob',30,'Male'],['claire',27,'Female']]
df = pd.DataFrame(lst,columns=['Name','Age','Gender'])
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series?

DataFrame in pandas is a 2 dimensional data structure, like a 2d array or table wih row and columns.

Series can only contain single list with index, whereas dataframe can be made of more than one series.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

1. Read Data

In [ ]:
df = pd.read_csv("file.csv")

2.  Head and Tail

In [ ]:
df.head()
df.tail()

3. Shape, Size and Info

In [ ]:
df.shape()
df.size()
df.info()

Q6.Which of the following is mutable in nature Series, DataFrame, Panel?

Data frames are size and value mutable and series are only value mutable but not size mutable
panel are also value mutable but not size mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])


df=pd.concat([courses,fees],axis=1)


df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000